<ng-container *ngFor="let e of  this.itemJson[0].items">
  <ng-container *ngIf="e.active">
    <div class="container-space" [ngClass]="{'active': e.active}">

      <div class="up_label ">

        <ng-container *ngFor="let data of  e.label_up[0].content; let i =index;">
          <p *ngIf="data.parag !=''" innerHTML="{{data.parag}}"></p>
          <div *ngIf="data.parag ==''" class="dataInput">
            <input class="wrong  " type="text" [attr.data-index]="i" (change)="checkvalue($event,e);  "
              (focus)="foucs($event)" (focusout)="foucsOut($event)" location-value="label_up" [attr.maxlength]="data.Length" [attr.data-i]="0"
              [attr.placeholder]="data.input.show">
            <div class="help" *ngIf="i == 0"></div>
          </div>
          <p *ngIf="data.marker !=''" innerHTML="{{data.marker}}"></p>
        </ng-container>
      </div>
      <div class="center">
        <div id="table">
          <div class="upper_table">

          </div>
          <div class="space_man"></div>
          <div class="body_table">
            <div class="button_check " (click)="checkanswer();" [ngClass]="e.numOfAttempts == 0 ? '' : 'disable'">
              <div class="button" *ngIf="guideCheck"></div>
              <p>{{e.numOfAttempts}}</p>
            </div>
            <div class="show_anwser" (click)="show_anwser($event); showNext = !showNext ;  guideAnwser = !guideAnwser" *ngIf="e.numOfAttempts < 1">
              <div class="button" *ngIf="!guideAnwser"></div>
            </div>
            <div class="show_next" (click)="show_next($event) ;  guidenext = !guidenext" *ngIf="showNext">
              <div class="button" *ngIf="!guidenext"></div>
            </div>
            <div class="inner_table">
              <ng-container *ngFor="let content of  e.inner_table; let index =index;">
                <div class="table_question" [ngStyle]="{'width': 'calc(100% / ' + e.inner_table.length + ')' }">
                  <ng-container *ngFor="let data of content.content; let i =index;">
                    <p *ngIf="data.parag !='' && !data.line" innerHTML="{{data.parag}}">
                    </p>
                    <div *ngIf="data.parag =='' && !data.line" class="dataInput">
                      <input class="wrong  " type="text" [attr.data-index]="i" (change)="checkvalue($event,e)"
                        (focus)="foucs($event)" (focusout)="foucsOut($event)" location-value="inner_table" [attr.maxlength]="data.Length"
                        [attr.data-i]="index" [attr.placeholder]="data.input.show">
                        <div class="help" *ngIf="i == 0"></div>
                    </div>

                    <div class="line" *ngIf="data.line">
                      <span innerHTML="{{data.marker}}"></span>
                    </div>
                  </ng-container>
                  <div class="border_h" *ngIf="e.inner_table.length -1 != index "></div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <div class="down_label">
        <!-- <div class="inner_label_1"><p>00000000</p></div> -->
        <ng-container *ngFor="let data of  e.label_down[0].content; let i =index;">
          <p *ngIf="data.parag !=''" innerHTML="{{data.parag}}"></p>
          <div *ngIf="data.parag ==''" class="dataInput">
            <input class="wrong  " type="text" [attr.data-index]="i" (change)="checkvalue($event,e)"
              (focus)="foucs($event)" (focusout)="foucsOut($event)" location-value="label_down" [attr.maxlength]="data.Length" [attr.data-i]="0"
              [attr.placeholder]="data.input.show">
            <div class="help" *ngIf="i == 0"></div>
          </div>
          <p *ngIf="data.marker !=''" innerHTML="{{data.marker}}"></p>
        </ng-container>
      </div>
      <div *ngIf="question">
        <div class="nextContent">
          <div class="character" class="show{{(counter+1)*2}}">
            <div class="buttons">
              <button class="next" (click)="nextQuestion()"
                *ngIf="counter !== this.itemJson[0].items.length-1"></button>
              <button class="home" (click)="home()"></button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </ng-container>

</ng-container>
